*{
	padding: 0px;
	margin: 0px;
}
body{
	font-size: 14px;
	line-height: 24px;
	font-family: 'Source Sans 3', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Source Sans 3', sans-serif;
}
a, a:hover{
	text-decoration: none;
}

/* global style for heading titile start  */

.title{
	width: 100%;
	padding: 0px 0px 40px;
}
.title h4{
	font-size: 18px;
	font-weight: 600;
	line-height: 1.2em;
	color: #008ed6;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.title h1{
	font-size: 48px;
	font-weight: 700;
	line-height: 1.2em;
	color: #000;
	margin: 15px 0px 20px;
}
/* global style for heading titile end   */


/* header section start */
.header{
	width: 100%;
	background: url("../images/banner.png")center top no-repeat;
	background-size: cover;
}
.header .navbar-nav .nav-item .nav-link{
	color: #fff;
	font-size: 16px;
	font-weight:600;
	text-transform: capitalize;
	margin: 0px 0px 0px 30px;
}
.header .navbar-nav .nav-item .nav-link:hover{
	background: url("../images/line.png")bottom center  no-repeat;
	background-size: auto;
}
.header .navbar-nav .nav-item .nav-link:focus{
	background: url("../images/line.png")bottom center  no-repeat;
	background-size: auto;
}
.header .navbar-nav .nav-item .active{
	background: url("../images/line.png")bottom center  no-repeat;
	background-size: auto;
}
/* header section end */


/* banner section start  */
.banner{
	width: 100%;
	padding: 160px 0px;
}
.banner h4{
	font-size: 18px;
	font-weight: 600;
	line-height: 1.2em;
	color: #008ed6;
	text-transform: uppercase;
	letter-spacing: 1px;
}	
.banner h1{
	font-size: 48px;
	font-weight: 700;
	line-height: 1.2em;
	color: #fff;
	margin: 15px 0px;
}
.banner p{
	font-size: 16px;
	font-weight: 400;
	line-height: 1.7em;
	color: #767677;
}
.banner .double-btn{
	width: 100%;
	padding: 30px 0px 0px;
}
.banner .double-btn .btn-primary{
	padding: 15px 25px;
    border-radius: 2px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid #008ed6;
    background: #008ed6;
    color: #fff;
    transition: 1s;
    margin: 0px 20px 0px 0px;
}
.banner .double-btn .btn-primary:hover{
	border: 1px solid #008ed6;
    background: transparent;
    color: #008ed6;
}
.banner .double-btn .btn-primary:focus{
	border: 1px solid #008ed6;
    background: transparent;
    color: #008ed6;
}
.banner .double-btn .btn-light{
	padding: 15px 25px;
    border-radius: 2px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid #767677;
    background: transparent;
    color: #fff;
    transition: 1s;
}
.banner .double-btn .btn-light:hover{
	border: 1px solid #008ed6;
    background: #008ed6;
    color: #fff;
}
.banner .double-btn .btn-light:focus{
	border: 1px solid #008ed6;
    background: #008ed6;
    color: #fff;
}
/* banner section end  */

/*feature section start*/
.feature{
	width: 100%;
/*	padding: 80px 0px;*/

}
.feature .title{
	text-align: center;
	padding: 40px 0px 0px 0px;
}
/*feature section end*/

.icon-box{
	width: 100%;
	padding: 40px 50px;
	text-align: center;
}
.icon-box .icon{
	width: 110px;
	height: 110px;
	line-height: 125px;
	border-radius: 100%;
	margin: 0px auto 20px;
	border: 1px solid #eee;
}
.icon-box .icon .fa{
	font-size: 40px;
	color: #008ed6;
}
.icon-box h4{
	font-size: 26px;
	line-height: 1.2em;
	font-weight: 500;
	text-transform: capitalize;
	margin: 0px 0px 10px;
}
.icon-box p{
	font-size: 16px;
	line-height: 1.7em;
	font-weight: 400;
	color: #999999;
	margin: 0px 0px 10px;
}

/* about long section start  */
.about-long{
	width: 100%;
	padding: 80px 0px;
	border: 1px solid #eee;
}
.about-long .title{
	padding: 45px 0px 20px;
	text-align: left;
}
.about-long .title h1{
	font-size: 42px;
	font-weight: 700;
}
.about-long p{
	font-size: 14px;
	font-weight: 400;
	width: 62%;
	line-height: 1.7em;
	color: #999;
}
.about-long ul{
	display: block;
	padding: 10px 0px;
}
.about-long ul li{
	list-style: none;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.7em;
	margin: 0px 0px 10px;
}
.about-long ul li img{
	width: 14px;
	height: 15px;
	margin: 0px 10px 0px 0px;
}
/* about long section end  */
.about-sort{
	width: 100%;
	padding: 80px 0px;
	background: #f2f2f2;
}
.about-sort p{
	font-size: 14px;
	font-weight: 400;
	width: 70%;
	line-height: 1.7em;
	color: #999;
}
.about-sort .title{
	padding: 90px 0px 20px;
	text-align: left;
}
.about-sort .title h1{
	font-size: 38px;
	font-weight: 700;
}

/* testimonial section start */

.testimonial{
	width: 100%;
	padding: 40px 0px;
	background:url("../images/testimonial.png") center top no-repeat;
	background-size: cover;
}
.testimonial .title{
	text-align: center;
}
.testimonial .title h1{
	color: #fff;
	font-weight: 700;
}
.testimonial .owl-carousel{

}
.testimonial .owl-carousel .item{

}
.testimonial .owl-carousel .item h4{
	font-size: 22px;
	font-weight: 500;
	line-height: 1.5em;
	color: #fff;
	font-style: italic;
	margin: 30px;
}
.testimonial .owl-carousel .item .clint{
	width: 80px;
	height: 75px;
	border-radius: 100%;
}
.testimonial .owl-carousel .item p{
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	line-height:1.7em;
	margin: 12px 0px;
}
.testimonial .owl-carousel .item p span{
	font-weight: 500;
	text-transform: uppercase;
}
.testimonial .owl-theme .owl-nav.disabled+ .owl-dots{
	margin-top: 80px;
}
.testimonial .owl-theme .owl-dots .owl-dot span{
	background: transparent;
	border: 1px solid #fff;
}
.testimonial .owl-dots .owl-dot.active span{
	background: #fff;
	height: 15px;
	width: 15px;
	margin: 10px 7px 3px;
}
/* testimonial section end */

/* eya-catcher section start */
.eye-catcher{
	width: 100%;
	padding: 50px 0px;
	background: #15141a;
}
.eye-catcher h1{
	font-size: 36px;
	font-weight: 700;
	line-height: 1.3em;
	color: #fff;
	margin: 0px;
}
.eye-catcher h1 span{
	font-weight: 300;
}
.eye-catcher .double-btn .btn-primary{
	padding: 15px 25px;
    border-radius: 2px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid #008ed6;
    background: #008ed6;
    color: #fff;
    transition: 1s;
    margin: 0px 20px 0px 0px;
}
.eye-catcher .double-btn .btn-primary:hover{
	border: 1px solid #008ed6;
    background: transparent;
    color: #008ed6;
}
.eye-catcher .double-btn .btn-primary:focus{
	border: 1px solid #008ed6;
    background: transparent;
    color: #008ed6;
}
.eye-catcher .double-btn .btn-light{
	padding: 15px 25px;
    border-radius: 2px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    border: 1px solid #767677;
    background: transparent;
    color: #fff;
    transition: 1s;
}
.eye-catcher .double-btn .btn-light:hover{
	border: 1px solid #008ed6;
    background: #008ed6;
    color: #fff;
}
.eye-catcher .double-btn .btn-light:focus{
	border: 1px solid #008ed6;
    background: #008ed6;
    color: #fff;
}
.eye-catcher .double-btn .btn-info{
	margin: 0px 20px 0px 0px;
}
/* eya-catcher section end */

/* price section start */
.price{
	width: 100%;
	padding: 25px 0px;
}
.price .title{
	text-align: center;
}
.pricing-box {
	width: 100%;
	text-align: center;
	border: 1px solid #eee;
}
.pricing-box .price-head{
	width: 100%;
	padding: 20px 0px;
	border-bottom: 1px solid #eee;
}
.pricing-box .price-head h3{
	font-size: 26px;
	line-height: 1.2em;
	text-transform: uppercase;
	font-weight: 600;
	margin: 0px;
}
.pricing-box .main-price{
	width: 100%;
	padding: 35px 0px;
	border-bottom: 1px solid #eee;

}
.pricing-box .main-price h1{
	font-size: 80px;
	font-weight: 700;
	line-height: 1.2em;
	margin: 0px;
}
.pricing-box .main-price h1 sup{
	font-size: 32px;
	top: -0.9em;
}
.pricing-box.main-price p{
	font-size: 14px;
	font-weight: 400;
	color: #777;
	margin: -10px 0px 0px;
}
.pricing-box .price-content{
    width: 100%;
    padding: 40px 70px;
}
.pricing-box .price-content p{
	line-height: 1.7em;
    font-weight: 400;
    font-size: 14px;
    color: #b8b8b8;
    margin: 0px 0px 40px;
}
.pricing-box .price-content p a{
	color: #008ed6;
	text-decoration: none;

}
.pricing-box .price-content .btn-primary{
	padding: 15px 25px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: #008ed6;
    background: transparent;
    border: 1px solid #eee;
    border-radius: 2px;
    transition: 1s;
}
.pricing-box:hover .price-head h3{
	color: #008ed6;

}
.pricing-box:hover .main-price{
	background:#008ed6 ;
}
.pricing-box:hover .main-price h1{
	color: #fff;
}
.pricing-box:hover .main-price p{
	color: #fff;
}
.pricing-box:hover .price-content .btn-primary{
	color: #fff;
    background: #008ed6;
    border: 1px solid #008ed6;
}
/* price section end */

/* contact section start */
.contact{
	width: 100%;
	padding: 50px 0px 0px;
	background: #ededed;
}
.contact .title{
	text-align: center;
}
.contact .info{
	width: 100%;
	padding: 0px 0px;
	text-align: center;
}
.contact .info .fa{
	font-size: 55px;
	color: #008ed6;
	margin: 0px 0px 20px;
}
.contact .info p{
	font-size: 14px;
	line-height: 1.7em;
	color: #999999;
	margin: 0px;
}
.contact-form{
	width: 100%;
	padding: 60px 90px;
	margin: 80px 0px -70px;
	background: #15141a;
	position: relative;
	z-index:1;
}
.contact-form .form-control{
	padding: 17px 15px;
	margin: 15px 0px;
	border: 1px solid #444348;
	border-radius: 3px;
	background: transparent;
	color:#606062;;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
}
.contact-form .form-control:focus{
	background: transparent;
	border-color: #008ed6;
	outline: 0;
	box-shadow: 0 0 0 0.10rem #008ed6;
}
.contact-form .text-right{
	text-align: right;
}
.contact-form .btn-primary{
	padding: 15px 35px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
    background: #008ed6;
    border: 1px solid #008ed6;
    border-radius: 2px;
    transition: 1s;
}
.contact-form .btn-primary:hover{
	color: #008ed6;
    background: transparent;
    border: 1px solid #008ed6;
}
/* contact section end */

/* footer section start*/
.footer{
	width: 100%;
	text-align: center;
	padding: 10px 0px;
	background: black;
}
.footer .social-icons li{
	list-style: none;
	display: inline-block;
}
.footer .social-icons li a{
	display: block;
	font-size: 30px;
	text-align: center;
	color: #444348;
	margin: 0px 15px;
	border-radius: 100%;
	transition: 0.5s;
}
.footer .social-icons li a:hover{
	background: black;
	color: #008ed6;
}
.footer .social-icons li a:focus{
	background: transparent;
	color: #008ed6;
}
.footer .Copyright{
	font-size: 18px;
	color: #444348;
}
/* footer section end*/
